html{
    padding: 10px;
}
body {
    margin: 5px;
    padding: 15px;
    padding-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
  

  
.brand{
    color: purple;
    font-weight: bolder;
}
  
.active{
    color: green;
    background-color: green
}
nav.navbar-default{
    font-size: 18px;
    background-color: plum;
    
}
  
#login {
    background-color: rgb(157, 235, 255);
    padding: 15px;
    height: 275px;
    width: 300px;
    box-align: auto;
    border: 2px solid plum;
    align-self: center;
}
  
.login-header{
    font-weight: bolder;
    font-size: 18px;
    text-align: left;
    color: royalblue;
    padding: 5px;
    margin-left: 5px;
}
  
#log-box{
    align-content: center;
    padding: 25px;
}

.btn{
    background-color: plum
    /* border: 2px solid rgb(157, 235, 255); */
}


  
  