{%extends 'construction.html'%}
{% block script %}
{{ super() }}
    <script> 
    var teamMember = '{{newMember}}';
    var teamName = '{{teamName}}';</script>
    
{%endblock%}
{%block content%}
{{ super() }}
<h1>{{teamName}}</h1>
<h4>{{teamMember}}</h4>

{%endblock%}