{% extends 'index.html' %}
{% block script%}
{{ super() }}
    <script>
        var status = '{{status}}';
        if (status){
            var username = '{{username}}';
        }
</script>
{%endblock%}
{% block content %}
{% if status %}
    <h1>Welcome {{username}} to the Team Task Manager App</h1>
    <h4>Keep your professional teams organized.</h4>
{%else%}
    <h1>Welcome to the Team Task Manager App</h1>
    <h4>Keep your professional teams organized.</h4>
{%endif%}
{% endblock %}