{% extends "bootstrap/base.html" %}
{% block html_attribs %} 
lang="en"
{% endblock %}
{% block head %}
{{super()}}
<meta charset="UTF-8">
{% endblock %}
{% block title %}
Team Task Manager
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}


{% block navbar %}
<div class="navbar-fixed-top">
    {{nav.mynavbar.render()}}
</div>
<br><br>
{% endblock %}

