{% extends 'index.html' %}
{% block content %}
<h1>You Have Been Logged Out</h1>
<div>
    <form action="/">
        <div>
            <button type="submit" class="btn">Back to the Homepage</button>
        </div>
    </form>
</div>
{% endblock %}