{% extends 'index.html' %}
{% block content %}
{{super()}}
<div>
        <h1>Welcome to the Login page</h1>
        <div id="login">
            <form action="/login/" method="POST">
            <h4>Please Login Here:</h4>
            <div class="form-group">
                <input type="text" name="username" className="login-box" required placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" className="login-box" required placeholder="Password"/>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        </div>
    </div>
{% endblock %}