{% extends 'index.html' %}
{% block script %}
{{ super() }}
    <script>
        var status = '{{state}}'
        if (status){
            var username = '{{username}}';
        }
        var tasks = '{{tasks}}'
</script>
{% endblock %}
{% block content %}
{% if status %}
    <h1>Welcome {{username}} to the Notifications Page</h1>
    <ul>
    {%for object in tasks%}
    
        {%if object['progress'] == 0%}
        <li>You have been assigned task: {{object['task']}}.</li>
        {%endif%}
        {%endfor%}
    </ul>
{%else%}
    <h1>Welcome to the Notifications Page</h1>
    <h4>See if you have any assigned tasks.</h4>
{%endif%}
{% endblock %}