{% extends 'index.html' %}
{% block script %}
{{ super() }}
<script>
    var status = '{{status}}';
    if (status){
        var username = '{{username}}';
    }     
</script>
{% endblock %}

{% block content %}
{%if status%}
<h1>Login Successful!</h1>
<h4>{{username}} is logged in</h4>
<div>Now you can manage and organize your team</div>
{%else%}
<h1>Error: Login Failed</h1>
<h4>Username or Password Invalid</h4>
<form action="/loginPage">
    <button type="submit" class="btn">Back to the login up page</button>
</form>
{%endif%}

{% endblock %}