{% extends 'index.html' %}
{% block script %}
{{ super() }}
    <script>
        var status = '{{status}}';
        var username = '{{username}}';
        var passStat = '{{passStat}}';
</script>
{% endblock %}

{% block content %}
    {%if status%}
        {%if passStat%}
        <h1>User successfully created</h1>
        <p>Welcome to the Team Task Manager App: {{username}}</p>
        <form action="/loginPage">
            <button class="btn" type="submit">Click Here to Login</button>
        </form>
    {%else%}
        <h1>Error: Passwords do not match</h1>
        <h4>Please try again</h4>
        <form action="/signUpPrompt">
            <button class="btn" type="submit">Back to the sign up page</button>
        </form>
        {%endif%}
   {% else %}
        <h1>Error: username is already taken</h1>
        <p>Please enter a different username</p>
        <form action="/signUpPrompt">
            <button class="btn" type="submit">Back to the sign up page</button>
        </form>
    {%endif%}
{% endblock %}
