{% extends 'index.html' %}
{% block script %}
{{ super() }}
    <script>
        var status = '{{state}}'
        if (status){
            var username = '{{username}}';
            var tasks = '{{tasks}}';
        }
</script>
{% endblock %}
{% block content %}
{% if status %}
    <h1>Welcome {{username}} to the Reports Page</h1>
    <ul>
    {%for task in tasks %}
    <li>
    {% if task['progress'] == 0 %}
        Task: {{task['name']}} is Not Finished.
    {% elif task['progress'] == 1%}
        Task: {{task['name']}} is In Progress.
    {%elif task['progress'] == 2%}
        Task: {{task['name']}} is Completed.
    {%endif%}
    </li>
    {%endfor%}
    </ul>
{%else%}
    <h1>Welcome to the Reports Page</h1>
    <h4>View your task breakdowns here.</h4>
{%endif%}
{% endblock %}