{% extends 'index.html' %}
{% block content %}
{{super()}}
<div>
    <h1>Welcome to the Sign Up Page</h1>
    <div id="login">
        <h4>Please Register Your Account Here:</h4>
        <form action="/signUp/" method="POST">
            <div class="form-group">
                <input type="text" name="username" id="user-box" required placeholder="Enter Username" />
            </div>
            <div class="form-group">
                <input type="password" name="password" id="pass-box" required placeholder="Enter Password" />
            </div>
            <div class="form-group">
                    <input type="password" name="confirmPassword" id="confPass-box" required placeholder="Confirm Password" />
            </div>
            <button type="submit" class="btn">Sign Up!</button>
        </form>
    </div>
</div>
{% endblock %}