{% extends 'index.html' %}
{% block script %}
{{ super() }}
<script>
    var status = '{{state}}'
    if (status) {
        var username = '{{username}}';
    }
</script>
{% endblock %}
{% block content %}
{% if status %}
<h1>Welcome {{username}} to the Tasks Page</h1>
<h4>Create Tasks to Your Personal List</h4>
<form action="/createTaskPromptUser">
    <button class="btn" type="submit">Create Private Task</button>
</form>
<h4>Create Tasks for Your Team</h4>
<form action="/createTaskPromptTeam">
    <button class="btn" type="submit">Create Team Task</button>
</form>
<h4>Click Here to View All of Your Current Personal Tasks</h4>
<form action="/viewUserTasks">
    <button class="btn" type="submit">View Personal Tasks</button>
</form>
<h4>Click Here to View All Team Tasks</h4>
<form action="/viewTeamTasks">
    <button class="btn" type="submit">View Team Tasks</button>
</form>
{%else%}
<h1>Welcome to the Tasks Page</h1>
<h4>Add Tasks for you and your team.</h4>
{%endif%}
{% endblock %}