{% extends 'index.html' %}
{% block script %}
{{ super() }}
    <script>
        var status = '{{status}}';
        var task = '{{task}}';
</script>
{% endblock %}

{% block content %}
    {%if status%}
        <h1>Task {{task}} successfully Created</h1>
        <form action="/tasks">
            <button class="btn" type="submit">Click here to go to the Tasks page </button>
        </form>
   {% else %}
        <h1>Error: There was an issue creating the task</h1>
        <form action="/tasks">
            <button class="btn" type="submit">Back to the Tasks page</button>
        </form>
    {%endif%}
{% endblock %}