{% extends './tasks.html' %}
{% block script %}
{{super()}}
<script>
    var user = '{{username}}'
</script>
{%endblock%}
{% block content %}
<div>
    <h1>Create A Private Task</h1>
    <div>
        <div id="login">
            <div class="header">
                <h4>Enter Task Information</h4>
            </div>
            <div>
                <form action="/createTaskUser/" method="POST">
                    <div class="form-group">
                        <label for="name">Task Name:</label>
                        <input type="text" class="form-control" name="name" required placeholder="Task Name" />
                    </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="description">Task Description:</label>
                    <input type="text" class="form-control" name="description" placeholder="Task Description" />
                </div>
            </div>
            <div class="btn">
                <button class="btn" type="submit">Create Task</button>
            </div>
            </form>
            <div class="btn">
                <form action="/tasks" method="POST">
                    <button class="btn" type="submit" class="btn-dark">Back to Task Page</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}