{% extends 'index.html' %}
{% block script %}
{{ super() }}
    <script>
        var status = '{{state}}';
        if (status){
            var username = '{{username}}';
            var teams='{{teams}}'
        }
        
</script>
{% endblock %}
{% block content %}
{% if status %}
    <h1>Welcome {{username}} to the Teams Page</h1>
    <h4>Click Here to Create a Team</h4>
    <form action="/createTeamPrompt">
        <button class="btn" type="submit">Create Team</button>
    </form>
    <h4>Click Here to View Your Teams</h4>
    <form action="/viewTeams">
        <button class="btn" type="submit">View Teams</button>
    </form>
{%else%}
    <h1>Welcome to the Teams Page</h1>
    <h4>View your team and all team tasks.</h4>
{%endif%}
{% endblock %}