{% extends './teams.html' %}
{% block content %}
<div>
    <h1>Create A New Team</h1>
    <div>
        <div id="login">
            <div class="header">
                <h4>Enter Team Information</h4>
            </div>
            <div>
            <form action="/createTeam/" method="POST">
                <div class="form-group">
                    <label for="name">Team Name:</label>
                    <input type="text" class="form-control" name="name" required placeholder="Team Name" />
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="description">Team Description:</label>
                    <input type="text" class="form-control" name="description" placeholder="Team Description" />
                </div>
            </div>
                <div class="btn">
                    <button class="btn" type="submit">Create Team</button>
                </div>
            </form>
            <div class="btn">
                <form action="/teams">
                    <button class="btn" type="submit" class="btn-dark">Back to Team Page</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}