{% extends 'index.html' %}
{% block script %}
{{ super() }}
    <script>
        var status = '{{status}}';
        var team = '{{name}}';
        var admin = '{{admin}}'
</script>
{% endblock %}

{% block content %}
    {%if status%}
        <h1>Team {{team}} successfully created</h1>
        <h4>{{admin}}: You are the admin</h4>
        <form action="/teams">
            <button class="btn" type="submit">Team Page</button>
        </form>
   {% else %}
        <h1>Error: Team name is already taken</h1>
        <h4>Please enter a different team name</h4>
        <form action="/teams">
            <button class="btn" type="submit">Back to the Team page</button>
        </form>
    {%endif%}
{% endblock %}