{% extends 'index.html' %}
{% block script %}
{{ super() }}
<script>
    var users = '{{teamUsers}}';
    var admin = '{{admin}}';
    var name = '{{name}}';
    var allUsers = '{{allUsers}}';
    var username = '{{username}}';
</script>
{% endblock %}
{% block content %}
<h2>This is Team {{name}}</h2>

<div id="users">
    {%for user in teamUsers%}
    <label for="teamMembers">These Are Your Teammates:</label>
    <ul>
        {%if user == admin%}
        {%else%}
        <li>User: {{user}}</li>
        {%endif%}
    </ul>
    {%endfor%}
    <label for="globalUsers">Add Team Members: </label>
    <form action="/addTeammate/" method="POST">
        <select name="teamMember">
            <option value="" disabled selected>Select User to Add</option>
            {%for user in allUsers%}
            {%if user != username%}
            <option value="{{user}}" name="{{user}}">{{user}}</option>
            {%endif%}
            {%endfor%}
        </select>
        <h5>Click Here to Add User to Team:</h5>

        <button class="btn" type="submit">Add User</button>
    </form>
</div>
{% endblock %}