{% extends 'tasks.html' %}
{% block script %}
{{ super() }}
<script>
    var tasks = '{{tasks}}';
    var user = '{{user}}';
    var status = "";
</script>
{% endblock %}
{% block content %}
<div id="login" style="margin-top: 10px">
    <div class="header">
        <br>
        <label for="team">These Are Your Tasks:</label><br>
        <form action="/updateTaskPromptUser"></form>
        <select name="teams">
            <option value="" disabled selected>Choose a Task to View</option>
            {%for task in tasks %}
                <option name="{{task['name']}}">Task: {{task['name']}}</option>
            {%endfor%}
                <button class="btn" type="submit">Update Task</button>
            </form>
        </select>
    </div>
</div>
{% endblock %}