{% extends 'index.html' %}
{% block script %}
{{ super() }}
<script>
    var team = '{{teams}}';
    var user = '{{user}}';

</script>
{% endblock %}
{% block content %}
<h1>Choose a Team to View</h1>
<div id="login" style="margin-top: 10px">
    <form action='/teamPage/' method="POST">
    <div class="header">
        <br>
        <label for="team">These Are Your Current Teams:</label><br>

        <select name="teams">
            <option value="" disabled selected>Select Team</option>
            {%for team in teams%}
            <option value="{{team}}" name="{{team}}">{{team}}</option>
            {%endfor%}
        </select>
        <h5>Click Here to View the Team:</h5>

        <button class="btn" type="submit">View Team</button>
       
    </div>
</form>
</div>
{% endblock %}